  body{    
    margin:auto; 
    height: auto;
    background-color: beige;    
  }
  
  .header{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%; 
    margin: auto;  
  }

  .input{
    margin-top: 2%;
    margin-bottom: 2%;    
  }
 
 .questions{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 80%;
   margin:auto;
 }

.box{
  margin-top: 1%;
  margin-bottom:1%;
  border-radius: 50px;
  box-shadow: 20px; 
  padding: 1%; 
  background-color: rgba(200, 231, 231, 0.986);
  box
}
.code{
  padding-top: 2%;
  padding-bottom: 2%;
}

span{
  color:red;
  padding-left: 10%;  
}


.footer{
  text-align: center;
  width: 80%;
}
.clickHere{
  margin: 2%;
  padding: 2%;
  border-radius: 50px;
  background-color: white ;
}
 

